@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "SCSS/_mixins.scss";
@import "SCSS/_variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  /* line-height: 150%; */
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "dlig" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

button {
  border: 1px solid $main-border-color;
  @include adaptiv-value("padding", 24, 6, 1);
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $main-border-color;
  }
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: $opacity-color;
  font-family: sans-serif Open Sans;
  @include adaptiv-value("font-size", 20, 12, 1);
  @include breakpoint(lg, max) {
    line-height: 125%;
  }
}

li {
  @include adaptiv-value("font-size", 16, 14, 1);
}

span {
  color: rgba(0, 0, 0, 0.6);
  @include adaptiv-value("font-size", 14, 16, 2);
}

h3 {
  @include adaptiv-value("font-size", 48, 20, 1);
  font-weight: 500;
}

h6 {
  @include adaptiv-value("font-size", 24, 18, 1);
  font-weight: 400;
  line-height: 80%;
}

ul {
  list-style: none;
}
